# using python3.11

# OCR redaction packages
opencv-python
pillow
easyocr

# Screenshot Tool GUI
py3-tts

# For Screenshot Python Backend
requests
flask
flask-cors

# For cropping
openai
python-dotenv