body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#mainContent, #redactTool, #cropTool, #downloadZipButton, #line{
    display: none;
}

#screenshotResult img, #imageResult img {
    max-width: 100%;
}

#imageSection {
    flex: 1;
    margin-right: 20px;
}

#imageArea {
    flex: 1;
}

#chatbox {
    width: 300px;
    height: 440px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

#chatLog {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}

#userInput {
    width: calc(100% - 80px);
    margin-right: 10px;
}

#toolBar {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Adds space between items */
    margin-top: 1%;
}

#redactTool, #cropTool {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adds space between label/select and button */
}

#redactButton, #cropButton {
    width: 200px;
}

#line, #captureContainer, #uploadContainer {
    margin-top: 1%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgb(151, 151, 151);
    margin: 20px 0;
}

#downloadzipbutton {
    width: 1%;
}
